{% extends "project_base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">
			{{ request.user }}
			<form method='post' action="{% url 'logout' %}">
				{% csrf_token %}
				<button class="btn btn-warning" type="submit">Logout</button>
			</form>
		</div>
	</div>
</div>

{% if comment_actions %}
<form action="." method="post">
	{% csrf_token %}
	{% for action in comment_actions %}
	<p><small>{{ action.verb | safe }} - {{ action.created }} <a href="{{ action.get_absolute_url }}">[자세히]</a></small></p>

	{% endfor %}
	<input type='hidden' name='check' value='True'/>
	<input type="submit" value="확인" class="btn btn-primary">
</form>

{% else %}
	<p>새로운 알림이 없습니다.</p>
{% endif %}

{% endblock %}