{% extends "project_base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">
			{{ request.user }}
			<form method='post' action="{% url 'logout' %}">
				{% csrf_token %}
				<button class="btn btn-warning" type="submit">Logout</button>
			</form>
			<a href="{% url 'login' %}">login</a>
		</div>
	</div>
	<div class="row">
		<h3>동네에서 판매중인 제품</h3>
		<div id="map" class="gmap">
		</div>
	</div>
</div>

<script>
var locations = [
	{% for product in products %}
		{

			lat: {{ product.lat }},
			lng: {{ product.lng }},
			title: "{{ product.title }}",
			id: {{ product.id }},
		},
	{% endfor %}
];
var map;
var markers;
var infoWindow;

function initMap() {
	var orig = {lat:{{org_lat}}, lng:{{ org_lng }}};
	map = new google.maps.Map(
		document.getElementById('map'), {zoom: 14, center: orig});
		infoWindow = new google.maps.InfoWindow();
	// origin marker
	marker = new google.maps.Marker({position: orig, map: map});
	var current = "<b>현재 위치</b><br/>"
	infoWindow.setContent(current)
	infoWindow.open(map, marker)
	google.maps.event.addListener(marker, 'click', function(){
	        infoWindow.setContent(current)
	        infoWindow.open(map, marker)
    });


	// create destination marker
	function createMaker(latlng, name, url){
	    var html = '<a href=' + url + '><b>' + name + "</b></a><br/>"
	    var marker = new google.maps.Marker({
	          position: latlng,
	          map: map
	        });
	    google.maps.event.addListener(marker, 'click', function(){
	        infoWindow.setContent(html)
	        infoWindow.open(map, marker)
	    });
	}

	if (locations.length > 0) {
	    for(var i = 0; i < locations.length; i++) {
	        var obj = locations[i]
	        var latlng = {lat: obj.lat, lng: obj.lng}
	        var name = obj.title
			var url = "{% url 'products:detail' pk='product_id' %}".replace('product_id', obj.id);
	        createMaker(latlng, name, url)
	    }
	}
}

</script>
{% endblock %}