<!DOCTYPE html>
<html>
<head>
	{% include 'defaults/head.html' %}
	<title>{% block head_title %}{% endblock %}</title>
	{% block extra_head %}
	{% endblock %}


<style>
  .gmap {
        height: 400px;
        width: 90%;
  }
</style>
</head>
<body>
{% include 'defaults/navbar.html' with comment_actions=comment_actions %}


<div class="container">
	<div class="row">
		<br><br><br>
	</div>

	<div class="row-8">
		<div class="col-10 mx-auto">
			{% block content %}

			{% endblock %}
		</div>
	</div>
</div>
{% include 'defaults/scripts.html' %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHNILezgWNhRf_gv4qVF6U_OlkcJT1v0o&callback=initMap">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>
