<!DOCTYPE html>
<html>
<head>
    {% include 'defaults/head.html' %}
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

</head>
<body>

{% include 'defaults/navbar.html' with comment_actions=comment_actions %}
<div class="container">
    <div class="row-8">

        <div class="col-10 mx-auto">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
{% include 'defaults/scripts.html' %}
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHNILezgWNhRf_gv4qVF6U_OlkcJT1v0o&callback=initMap">
</script>

</body>
</html>
