{% extends "home.html" %}
{% load thumbnail %}

{% block content %}
{% if city %}
	<h5><b>[{{ city }}]</b></h5>
{% endif %}
<div class="row">
	<div class="col">
		<ul class="list-unstyled">

			{% for obj in object_list %}
			<li class="media my-4">
				<div>
					<div class="media-body">
						<div class="row">
						<div class="col-2 ml-5">
						{% if obj.image %}
                        <img src="{{ obj.image.url }}" width="130 px;" height="120 px;" class="mr-3">
						{% endif %}
						</div>
						<div class="col-8">
						<h5 class="mt-0 mb-1"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
							{% if obj.count_comment > 0 %}
							<span class="badge badge-pill badge-secondary">{{ obj.count_comment }}</span>
							{% endif %}</h5>
							<p><small><b>ID:{{ obj.user }} <a
								href="{% url 'products:city-list' obj.user.userprofile.city %}">[{{ obj.user.userprofile.city }}]</a></b> created: {{ obj.created }} </small></p>
						{{ obj.description }}
						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
						purus odio,
						vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
						fringilla. Donec
						lacinia congue felis in faucibus.
						</div>
						</div>
					</div>
				</div>
				{% endfor %}
		</ul>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-5 mx-auto">
			<nav aria-label="Page navigation">
				<ul class="pagination">
					{% if page_obj.has_previous %}
					<li class="page-item"><a class="page-link"
					                         href="{% if city %}{% url 'products:city-list' city %}{% else %}{% url 'products:list' %}{% endif %}?page=1">First</a>
					</li>
					<li class="page-item"><a class="page-link"
					                         href="{% if city %}{% url 'products:city-list' city %}{% else %}{% url 'products:list' %}{% endif %}?page={{ page_obj.previous_page_number }}"><span
							aria-hidden="true">&laquo;</span></a></li>
					<li class="page-item"><a class="page-link"
					                         href="{% if city %}{% url 'products:city-list' city %}{% else %}{% url 'products:list' %}{% endif %}?page={{ page_obj.previous_page_number }}">
						{{ page_obj.previous_page_number }}</a></li>
					{% endif %}


					<li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a>


					</li>

					{% if page_obj.has_next %}
					<li class="page-item"><a class="page-link"
					                         href="{% if city %}{% url 'products:city-list' city %}{% else %}{% url 'products:list' %}{% endif %}?page={{ page_obj.next_page_number }}">
						{{ page_obj.next_page_number }}</a>
					</li>
					<li class="page-item"><a class="page-link"
					                         href="{% if city %}{% url 'products:city-list' city %}{% else %}{% url 'products:list' %}{% endif %}?page={{ page_obj.next_page_number }}"><span
							aria-hidden="true">&raquo;</span></a></li>
					<li class="page-item"><a class="page-link"
					                         href="{% if city %}{% url 'products:city-list' city %}{% else %}{% url 'products:list' %}{% endif %}?page={{ paginator.num_pages }}">Last</a>
					</li>

					{% endif %}
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}
