{% extends "home.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
#anyClass {
  height:300px;
  overflow-y: scroll;
}

</style>


<p>{{ object.user }}</p>
<p>{{ object.title }}</p>
<p>{{ object.price }}</p>
<p>{{ object.description }}</p>
{% if object.image %}
<img src="{{ object.image.url }}">
{% endif %}

<br><br><br><br>

<div class="row">
	<div class="col mx-auto">
		{% include 'products/comments/comment_form.html' with product=object %}
	</div>
</div>
<div class="col-12">
	<ul id='anyClass' class="nav nav-pills nav-stacked">
		<li class="nav-item">
			{% with request.user as user%}
			{% for comment in comments %}
			<div class="row my-2 ml-1">
				{{ comment.user}} - {{ comment.comment }}({{ comment.created }} - {{ comment.user.userprofile.city }})
				&nbsp;&nbsp;
				{% if user.is_authenticated %}
				{% if user == comment.user%}
				<form action="{% url 'products:comment-delete' comment.id %}" method="post">
					{% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
					<input type="submit" value="delete" class="btn btn-warning btn-sm">
				</form>
				{% endif %}
				{% endif %}
			</div>

			{% endfor %}
			{% endwith %}
		</li>
	</ul>
</div>


{% endblock %}
