{% extends "home.html" %}
{% load crispy_forms_tags %}

{% block content %}

<p>{{ object.user }}</p>
<p>{{ object.title }}</p>
<p>{{ object.price }}</p>
<p>{{ object.description }}</p>
{% if object.image %}
<img src="{{ object.image.url }}">
{% endif %}

<br><br><br><br>


<ul>
    {% for comment in comments %}
    <li>
        <p>{{ comment.user}} - {{ comment.comment }}({{ comment.created }} - {{ comment.user.userprofile.city }})</p>
    </li>
    {% endfor %}
</ul>

{% include 'products/comments/comment_form.html' with product=object %}

{% endblock %}
