{% extends "project_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>
<div class="container">
    <div class="row">
        <div class="col-3">
            <br>
            <br>
            <p>주소: {{ object.address }}</p>
            <p>현재 접속 장소: {{ object.city }}</p>

            <a class='btn btn-primary' href="{% url 'accounts:update' object.user %}">Update</a>
        </div>
        <div class="col-5 mx-auto">
            <h1>Notification</h1>
            {% if object.filtered_city %}
            <p>주변 이웃의 댓글 - [{{object.city}}]</p>
            {% else %}
            <p>내 글에 달린 댓글</p>
            {% endif %}
            <ul>
                {% for reply in replies %}
                <li>내 <a href="{{ reply.product.get_absolute_url }}">[{{ reply.product }}]</a> 게시물에 {{ reply.user }}
                    님이
                    새로운 댓글을 달았습니다.
                </li>
                {% endfor %}
            </ul>

        </div>

    </div>
</div>
<br>
<br>
<h3>내 접속 위치</h3>
<!--The div element for the map -->
<div id="map">

</div>
<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = { {{ coordinates }} };
  // var uluru2 = {lat: 37.521570, lng: 127.048460};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru


    var marker = new google.maps.Marker({position: uluru, map: map});
    // var marker2 = new google.maps.Marker({position: uluru2, map: map});
}

</script>

{% endblock %}
